

.grid-container__corpo{
    background-image: var(--gradiente-fundo);
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
}

.grid-container__cabecalho{
    width: 100%;
    height: 7%;
    background-color: var(--fundo-cabecalho);
}

.grid-container__cabecalho h1{
    text-align: center;
    font-size: 35px;
}

.grid-container__caixa figure img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--preto);
    margin: 15px;

}

.grid-container__secao-cardapio{
    margin-top: 20px;
}

.grid-container__cardapio{
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    align-content: center;
    justify-content: center;

}

.grid-container__caixa{
    margin: 3px;
}

.grid-container__caixa{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.grid-container__salgados{
    background-image: var(--gradiente-salgado);
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

.grid-container__salgados-texto{
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}

.grid-container__frutas{
    background-color: var(--fundo-frutas-ciano);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 15px;
    padding: 20px;
}

.grid-container__frutas-texto{
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}

.grid-container__doces{
    background-color:var(--fundo-doces-dourado);
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius: 15px;
    padding: 20px;
}

.grid-container__lista-lado-1,
.grid-container__lista-lado-2 {
    display: flex;
    flex-direction:row;
    gap: 10px;
    list-style: none;
}

.grid-container__sucos{
    background-image: var(--gradiente-sucos);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 15px;
    padding: 20px;
}

.grid-container__sucos-texto{
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}

.grid-container__lanches{
    background-color:var(--fundo-lanches);
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius: 15px;
}

.grid-container__pizzas{
    background-color:var(--fundo-pizzas);
    grid-column-start: 3;
    grid-column-end: 3;
    border-radius: 15px;
}